module.exports = {
  // Префикс URL с основным API приложения. Используется только для
  // проксирования запросов сервером разработки и не виляет на собранный код.
  API_PREFIX: "https://test.com/",
  // Префикс URL для подключения WebSocketProxy. Этот сервер используется для
  // посылки моментальных уведомлений пользователям напрямую.
  WSP_PREFIX: "wss://wsp.test.com:8081/",
  // Ключ доступа к Google Maps API. Получить новый можно в консоли
  // разработчика. https://console.developers.google.com/apis/credentials
  GOOGLE_KEY: "#################################"
  // Путь от которого стартует приложение history api
  ROOT_PATH: '/example/path/',
}